@import "../../utils/main.scss";


.header {
  height: $header_height;
  background-color: $bg_white_color;
  position: fixed;
  width: 100%;
  left: $sidebar_width;
  display: flex;
  align-items: center;
  z-index: 100;

  .close-panel {
    img {
      width: 24px;
      margin: 0 32px;
      cursor: pointer;
    }
  }

  .search {
    position: relative;

    input {
      border: 1px solid #B0B0B0;
      border-radius: 8px;
      height: 40px;
      padding: 0 16px;
      font-family: $font_family;
      width: 300px;
    }

    img {
      position: absolute;
      width: 24px;
      right: 16px;
      top: 10px;
    }
  }
}

@media only screen and (max-width: 770px) {
  .header {
    left: 0px;
  }
}