@import "../../utils/main.scss";


.header {
  height: $header_height;
  background-color: $bg_white_color;
  position: fixed;
  width: calc(100% - $sidebar_width);
  left: $sidebar_width;
  display: flex;
  align-items: center;
  z-index: 100;
  justify-content: space-between;

  .left-actions {
    display: flex;
    align-items: center;

    .close-panel {
      display: flex;

      img {
        width: 24px;
        margin: 0 32px;
        cursor: pointer;
      }
    }

    .search {
      position: relative;

      input {
        border: 1px solid #B0B0B0;
        border-radius: 8px;
        height: 40px;
        padding: 0 16px;
        font-family: $font_family;
        width: 300px;
      }

      img {
        position: absolute;
        width: 24px;
        right: 16px;
        top: 10px;
      }
    }
  }

  .right-actions {
    display: flex;
    align-items: center;
    margin-right: 30px;

    img {
      background: #F6F6F6;
      width: 24px;
      padding: 6px;
      border-radius: 9px;
      margin-left: 17px;
      cursor: pointer;
    }

    .divider {
      width: 1px;
      height: 54px;
      background-color: #C9C9C9;
      margin: 0 17px;
    }

    .datepicker {
      border: 1px solid #E7E7E7;
      border-radius: 12px;

      mat-form-field {
        color: #454545;
        font-family: $font_family;
      }
    }
  }
}

::ng-deep .datepicker {
  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: unset;
  }

  .mat-mdc-form-field-subscript-wrapper,
  .mat-mdc-form-field-bottom-align::before {
    display: none;
  }

  .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
    display: none;
  }

  .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::after {
    display: none;
  }

  .mat-date-range-input-container {
    display: flex;
    align-items: center;
    color: #454545;
    font-size: 14px;
    font-weight: 700;
  }

  .mat-mdc-form-field:not(.mat-form-field-disabled) .mat-mdc-floating-label.mdc-floating-label {
    font-family: $font_family;
    font-size: 12px;
    font-weight: 400;
    line-height: 16.8px;
    color: #454545;
  }
}

@media only screen and (max-width: 770px) {
  .header {
    left: 0px;
    width: 100%;

    .left-actions {
      .search {
        input {
          max-width: 300px;
          width: auto;
        }
      }
    }

    .right-actions {
      .datepicker {
        display: none;
      }
    }
  }
}