@import "../../utils/main.scss";


.header {
  height: $header_height;
  background-color: $bg_white_color;
  position: fixed;
  width: 100%;
  left: $sidebar_width;
  display: flex;
  align-items: center;
  z-index: 100;

  .close-panel {
    img {
      width: 24px;
      margin-left: 32px;
      cursor: pointer;
    }
  }
}