<div class="repository">
  <div class="header-top">
    <div class="title">Repositories list</div>
  </div>
  <div class="actions-and-searchbar">
    <div class="search">
      <input type="text" id="repositories" placeholder="Seach for repositories" (input)="onFilterTextBoxChanged()">
      <img src="assets/images/search.png" alt="search">
    </div>
  </div>
  <div class="ag-grid-table" *ngIf="rowData.length">
    <ag-grid-angular 
      class="ag-theme-quartz" 
      style="width: 100%; height: 100%;"
      [columnDefs]="columnDefs"
      [defaultColDef]="defaultColDef"
      [rowSelection]="rowSelection"
      [pagination]="true"
      [paginationPageSize]="paginationPageSize"
      [paginationPageSizeSelector]="paginationPageSizeSelector"
      [getContextMenuItems]="getContextMenuItems.bind(this)"
      [rowData]="rowData"
      [class]="themeClass"
      (gridReady)="onGridReady($event)"
    />
  </div>
  <div class="issues" *ngIf="showIssues">
    <app-issues [id]="selectedId"></app-issues>
  </div>

  <div class="pullrequest" *ngIf="showPullRequests">
    <app-pull-requests [id]="selectedId"></app-pull-requests>
  </div>

  <div class="commit" *ngIf="showCommits">
    <app-commits [id]="selectedId"></app-commits>
  </div>
</div>