@import "../utils/main.scss";

.layout {
  width: inherit;
  height: inherit;
  position: relative;
  left: 0;
  right: 0;

  .sidebar {
    width: $sidebar_width;
    height: 100%;
    position: fixed;
    background-color: #f4f5f7;
    top: 0;
    left: 0;
    z-index: 2;
  }

  .main-pages {
    position: relative;
    width: calc(100% - $sidebar_width);
    left: $sidebar_width;
    height: calc(100vh - $header_height);
    top: $header_height;
  }
}

@media only screen and (max-width: 770px) {
  .layout {
    .sidebar {
      display: none;
    }

    .main-pages {
      position: relative;
      left: 0px;
      top: $header_height;
      width: 100%;
    }
  }
}