@import "../../utils/main.scss";

.sidebar {
  width: $sidebar_width;
  height: 100vh;
  background-color: $bg_white_color;
  overflow-y: auto;

  .logo {
    padding: 32px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .profile-details {
    padding: 0 16px;
    margin: 45px 0;

    .dropdown {
      border: 1px solid #E7E7E7;
      border-radius: 10px;
      padding: 8px;
      font-family: $font_family;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;

      .profile {
        display: flex;

        img {
          width: 40px;
          margin-right: 8px;
        }

        .detail {
          .name {
            color: #454545;
            font-size: 14px;
            font-weight: 700;
            line-height: 21px;
          }

          .level {
            font-size: 12px;
            font-weight: 400;
            line-height: 16.8px;
            color: #737373;
            margin-bottom: 2px;
          }
        }
      }

      .menu {
        img {
          width: 24px;
          color: #000;
        }
      }
    }
  }

  .navigation-panel {
    font-family: $font_family;
    padding: 0 16px;

    .title {
      font-size: 14px;
      font-weight: 700;
      line-height: 21px;
      padding: 0 8px;
      color: var(--Neutral-700, #4F4F4F);
    }

    .navigation-list {
      margin-bottom: 32px;

      .navigation-item {
        margin: 10px 0;
        padding: 8px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 400;
        border-radius: 12px;
        font-size: 14px;

        img {
          width: 24px;
          height: 24px;
        }

        .item {
          display: flex;

          span {
            margin-left: 8px;
          }
        }

        &:hover {
          color: var(--Neutral-800, #454545);
          background: $navigation_active_color;
          padding: 8px;
          cursor: pointer;
        }
      }


      .active {
        background-color: $navigation_hover_color;
        cursor: pointer;
        font-weight: 700;
      }
    }
  }

  .assistance {
    background: #292929;
    border-radius: 16px;
    padding: 24px;
    color: #fff;
    font-family: $font_family;
    margin: 0 16px;

    .title {
      font-size: 22px;
      font-weight: 600;
      line-height: 28.6px;
    }

    .support-line {
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      padding: 8px 0;

      a {
        color: #03BCF3 !important;
      }
    }
  }
}

::ng-deep .mat-elevation-z2,
.mat-mdc-elevation-specific.mat-elevation-z2 {
  box-shadow: unset !important;
  background-color: #fff !important;
  border: 1px solid #E7E7E7;
  margin-top: -9px;
  border-top: none;
}

::ng-deep .mat-mdc-menu-content,
.mat-mdc-menu-content .mat-mdc-menu-item .mat-mdc-menu-item-text {
  width: 246px;
  height: 40px;

  .options {
    color: #454545;
    height: 40px;
    padding: 0 15px;
    display: flex;
    align-items: center;

    &:hover {
      cursor: pointer;
      background-color: #F6FBFF;
    }
  }
}