<div class="dashboard">
  <div class="profile-details">
    <div class="header">
      <div class="heading">
        <div class="title">Welcome Back, John Doe!</div>
        <div class="date">Jan 01, 2023 - Dec 31, 2023</div>
      </div>
      <div class="refresh-icon">
        <img src="assets/images/refresh.png" alt="icon">
      </div>
    </div>
    <div class="integrations">
      Active Integrations:
      <div class="tags">
        <div class="tag">JIRA</div>
        <div class="tag">Click Up</div>
        <div class="tag">AZURE</div>
      </div>
    </div>
  </div>

  <div class="widget-item">
    <app-overall-hours></app-overall-hours>
  </div>

  <div class="widget-item">
    <app-timesheet-summary [timesheet_summary]="timesheet_summary"></app-timesheet-summary>
  </div>

  <div class="widget-item">
    <app-project-hours></app-project-hours>
  </div>

  <div class="widget-item">
    <app-employee-summary></app-employee-summary>
  </div>

  <div class="widget-item">
    <app-sred-summary></app-sred-summary>
  </div>
</div>